.root {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    background-image: url("../../images/overlay.png"), linear-gradient(60deg, rgba(0, 0, 0, 0.884) 5%,
    rgba(19, 60, 148, 0.815)), url("../../images/bg.jpg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
    color: #545255;
    outline: none;
}